@each $name,
$color in $colors {
  div.#{$name},
  section.#{$name} {
    background-color: nth($color, 1);
    color: nth($color, 2);
    a {
      color: nth($color, 2);
      &:hover {
        color: nth($color, 2);
        border-bottom-style: solid;
      }
    }
  }
}