$color-water: 		rgb(31, 141, 214);
$color-grass: 		rgb(84, 166, 84);
$color-grape: 		rgb(128, 100, 162);
$color-chocolate: 	rgb(79, 41, 2);
$color-apple:		rgb(206, 57, 59);
$color-clementine: 	rgb(226, 104, 18);
$color-sunflower: 	rgb(242, 184, 9);
$color-gunmetal: 	rgb(128, 118, 114);
$color-white: 		rgb(255, 255, 255);
$color-cloud: 		rgb(250, 250, 250);
$color-mist: 		rgb(237, 237, 237);
$color-fog: 		rgb(153, 153, 153);
$color-steam: 		rgb(102, 102, 102);
$color-smoke: 		rgb(51, 51, 51);
$color-night: 		rgb(32, 32, 32);
$color-black: 		rgb(0, 0, 0);

$colors: (
	"water": ( $color-water, $color-white ),
	"grass": ( $color-grass, $color-white ),
	"grape": ( $color-grape, $color-white ),
	"chocolate": ( $color-chocolate, $color-white ),
	"apple": ( $color-apple, $color-white ),
	"clementine": ( $color-clementine, $color-white ),
	"sunflower": ( $color-sunflower, $color-night ),
	"gunmetal": ( $color-gunmetal, $color-white ),
	"white": ( $color-white, $color-black ),
	"cloud": ( $color-cloud, $color-black ),
	"mist": ( $color-mist, $color-black ),
	"fog": ( $color-fog, $color-black ),
	"steam": ( $color-steam, $color-white ),
	"smoke": ( $color-smoke, $color-white ),
	"night": ( $color-night, $color-white )
);