root = true

[*]
charset = utf-8
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{js,css,scss,sass}]
indent_style = space
indent_size = 2

[*.{md}]
indent_style = tab
indent_size = 4
