@use './variables';
@use 'sass:list';
@import url('https://fonts.googleapis.com/css?family=Inter:400,700|Permanent+Marker&display=swap');

:root {
  @each $color, $colorList in variables.$colors {
    --#{$color}: #{ list.nth( $colorList, 1 ) };
  }
}

body {
  font-family: variables.$fontInter;
  margin: 0;
  padding: 0;
}

section {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > p {
    max-width: 95%;
    width: variables.$content-width;
    margin-right: auto;
    margin-left: auto;
  }
  & p {
    line-height: 1.5;
  }
}
